<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>TodoList</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <div id="date"></div>
            <h1>TodoList</h1>
            <span>DBP</span>
        </div>
        <div class="add-task">
            <input type="text" id="input" placeholder="Agregar Tarea">
            <img src="../static/img/agregar.png" id="boton-emter" class="iconoAdd" alt="Agregar">
        </div>
        <div class="task-section">
            <h2>Tareas Pendientes : <span id="contador-tareas-pendientes">0</span></h2>
            <ul id="lista"></ul>
            <button id="tachar-todas">Tachar todas las tareas</button>
            <button id="eliminar-todas">Eliminar todas las tareas</button>
        </div>
    </div>
    <script src="../static/js/scripts.js"></script>
</body>
</html>
